// === <МИКСИНЫ> ====================================================================================================
@use "sass:list";
@use "sass:math";

@import 'blocks/mixins';
// === </МИКСИНЫ> ===================================================================================================

// === <ШРИФТЫ ЛОКАЛЬНЫЕ> ===========================================================================================
@import 'blocks/fonts';
// === </ШРИФТЫ ЛОКАЛЬНЫЕ> ==========================================================================================

// === <ШРИФТЫ GOOGLE> ==============================================================================================

// === </ШРИФТЫ GOOGLE> =============================================================================================

// === <ИКОНОЧНЫЕ ШРИФТЫ> ===========================================================================================
//@import "blocks/icons";
// === </ИКОНОЧНЫЕ ШРИФТЫ> ==========================================================================================

// === <ПЕРЕМЕННЫЕ> =================================================================================================
@import "blocks/vars";
$maxWidthContainer: 1270;
$heightHeaderInner: 125;
$maxWidth: 1600;
// === </ПЕРЕМЕННЫЕ> ================================================================================================

// === <ОБНУЛЕНИЕ> ==================================================================================================
@import "blocks/null";
body {
	font-family: serif;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	&._lock {
		overflow: hidden;
	}
}
// === </ОБНУЛЕНИЕ> =================================================================================================

// === <ОБОЛОЧКА> ===================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
// === </ОБОЛОЧКА> ===================================================================================================

// === <КОНТЕЙНЕР-А> =================================================================================================
._container {
	max-width: $maxWidthContainer + px;
   margin: 0 auto;
   padding: 0 15px;
}
._container-fluid {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 15px;
}
// === </КОНТЕЙНЕР-А> ================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>==============================================================
//@import "blocks/@keyframes";
@import "blocks/ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=============================================================

// === <СЛАЙДЕРА> ====================================================================================================
//import "blocks/slick";
// === </СЛАЙДЕРА> ===================================================================================================

// === <БИБЛИОТЕКИ> ==================================================================================================
//@import "blocks/lightgallery";
// === </БИБЛИОТЕКИ> =================================================================================================

// === <МОДАЛЬНЫЕ ОКНА> ==============================================================================================
//@import "blocks/";
// === </МОДАЛЬНЫЕ ОКНА> =============================================================================================

// === <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ> ===============================================================
@import "blocks/header";

@import "blocks/footer";
// === </ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ> ==============================================================

// === <ОСНОВНОЙ БЛОК> ===============================================================================================
.page {
	flex: 1 1 auto;
}
// ===================================================================================================================

// === </ОСНОВНОЙ БЛОК> ==============================================================================================